BOT_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE
BOT_NAME=Bonus Bot
WELCOME_TEXT=Привет! Добро пожаловать в наш Telegram-бот.\n\nНажми на кнопку ниже, чтобы получить бонус.
BONUS_TEXT=<b>🎡 Тебе доступно одно <u>БЕСПЛАТНОЕ</u> вращение в <a href="https://lud.su/Jeton">турбине удачи JetTon</a> ✈️</b>\n\n🎁 Крути турбину <b>ЕЖЕДНЕВНО</b> и получай реальные денежные бонусы 🚀\n\n✅ <a href="https://lud.su/Jeton">Активируй бонус</a> <b>425% к депам и 250 ФРИСПИНОВ</b> для быстрого старта ⚡️\n\n▶️ <a href="https://lud.su/Jeton">ЖМИ И КРУТИ КАЖДЫЙ ДЕНЬ</a> ◀️
BUTTON_TEXT=Получить бонус!
BUTTON_STYLE=success
PROMO_BUTTON_STYLE=primary
PROMO_BUTTON_TEXT=ЖМИ И КРУТИ КАЖДЫЙ ДЕНЬ
PROMO_URL=https://barryvpn.site/HTb1cF
DAILY_INTERVAL_HOURS=24
DAILY_CHECK_EVERY_MINUTES=10
DATA_DIR=/data
VIDEO_FILE=promo.mp4
PROMO_MESSAGE=<b>🎡 Тебе доступно одно <u>БЕСПЛАТНОЕ</u> вращение в <a href="https://lud.su/Jeton">турбине удачи JetTon</a> ✈️</b>\n\n🎁 Крути турбину <b>ЕЖЕДНЕВНО</b> и получай реальные денежные бонусы 🚀\n\n✅ <a href="https://lud.su/Jeton">Активируй бонус</a> <b>425% к депам и 250 ФРИСПИНОВ</b> для быстрого старта ⚡️\n\n▶️ <a href="https://lud.su/Jeton">ЖМИ И КРУТИ КАЖДЫЙ ДЕНЬ</a> ◀️
